/* ==UserStyle==
@name           Tweaks for Old Dashboard
@namespace      https://nineplus.sh
@version        1.0.5
@author         Hakase
==/UserStyle== */

@-moz-document domain("tumblr.com") {
    html, div, :root {
        --font-family: "Nimbus Sans", "Nimbus Sans L", "NimbusSanL" !important;
        --font-family-modern: "Nimbus Sans", "Nimbus Sans L", "NimbusSanL" !important;
    }

    .O4V_R .Dk06o.X4W3M, [data-tweaks-caught-up-line-border], .R7jci.Kkrh1, .x66yu .CtNGM:before {
        display: none !important;
    }

    .mYcfU.has-assigned-label {
        outline: none !important;
    }

    /* Try to apply the Old Dashboard timestamp alignment to community posts as well */
    /* The original CSS snippets are from https://userstyles.world/style/11286/default-slug */
    .l4Qpd[aria-label*=" posted in "] {
        margin-top: -6px;
        padding-bottom: 14px;
    }
    .l4Qpd[aria-label*=" posted in "] .QOpFt {
        position: absolute;
        top: 46px;
        left: 19px;
        margin-top: -6px;
    }
}
