/* ==UserStyle==
@name           SteamDB De-RG
@namespace      https://hakase.life
@version        1.0.2
@author         Nia
==/UserStyle== */

@-moz-document domain("steamdb.info") {
    [data-appid="271590"], /* GTAV Legacy */
    [data-appid="1174180"], /* Red Dead Redemption 2 */
    [data-appid="2676230"], /* FiveM */
    [data-appid="3240220"] /* GTAV Enhanced */
    {
        display: none !important;
    }
}
